<form action="/api/users" method="POST" id="add_user">
    <div class="new_user">
        <div class="mb-3">
            <label for="name" class="form-label">Nome</label>
            <input type="text" name="name" class="form-control" placeholder="Seu Nome">
        </div>
        <div class="mb-3">
            <label for="Email" class="form-label">e-mail</label>
            <input type="email" name="email" class="form-control" placeholder="Seu E-mail">
        </div>
        <fieldset class="form-group mb-3">
            <div class="row">
              <legend class="col-form-label col-sm-1 pt-0">Sexo</legend>
              <div class="col-sm-10">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="sexo" value="Masculino">
                  <label class="form-check-label" for="gridRadios1">
                    Masculino
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="sexo" value="Feminino">
                  <label class="form-check-label" for="gridRadios2">
                    Feminino
                  </label>
                </div>
              </div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-sm-1 pt-0">Status</legend>
              <div class="col-sm-10">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="status" value="Ativo">
                  <label class="form-check-label" for="gridRadios1">
                    Ativo
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="status" value="Inativo">
                  <label class="form-check-label" for="gridRadios2">
                    Inativo
                  </label>
                </div>
              </div>
            </div>
        </fieldset>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Salvar</button>
        </div>
    </div>
</form>